{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}
{% block navbar %}{% endblock %}
{% block header %}{% endblock %}

{% block body %}
<div class="login-form-container">
    <div class="form">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="logged-in">
                    Vous êtes déjà connecté, {{ app.user.personaname }}. <a href="{{ path('app_logout') }}">Se déconnecter ?</a>
                </div>
            {% endif %}
            <div class="user-img">
                {# <i class="fas fa-user-circle fa-5x"></i> #}
                <img class="login-logo" src="{{ asset('assets/logo.svg')}}" alt="logo"/>
            </div>

            <h1 class="form-title">Connexion</h1>
            <div class="form-element">
                <div class="label">
                    <label for="inputEmail">Email</label>
                </div>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            </div>
            <div class="form-element">
                <div class="label">
                    <label for="inputPassword">Mot de passe</label>
                </div>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            </div>
            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}
            <div>
            <button class="btn btn-submit" type="submit">
               Se connecter
            </button>
            
            <div class="btn btn-twitch">
                <a href="{{ path('twitch_connect') }}">
                    <div>
                        <img src="{{ asset('assets/twitch-brands.svg') }}" alt="" class="icon twitch-icon"/>
                    </div>
                    <div>
                        <p>S'authentifier avec Twitch</p>
                    </div>
                 </a>
            </div>
            </div>
            <p>Pas encore inscrit / pas de compte Twitch? <a href="{{path('user_new')}}">Créer un compte</a></p>
            <p><a href="{{path('home')}}">Aller à l'accueil en tant que visiteur</a></p>
        </form>
    </div>
</div>

{% block footer %}{% endblock %}
{% endblock %}
