{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}
{% block navbar %}{% endblock %}
{% block header %}{% endblock %}

{% block body %}
<div class="login-form-container">
    <div class="form">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="logged-in">
                    Vous êtes déjà connecté, {{ app.user.personaname }}. <a href="{{ path('app_logout') }}">Se déconnecter ?</a>
                </div>
            {% endif %}
            <div class="user-img">
                {# <i class="fas fa-user-circle fa-5x"></i> #}
                <img class="login-logo" src="{{ asset('assets/logo.svg')}}" alt="logo"/>
            </div>

            <h1 class="form-title">Connexion</h1>
            <div class="form-element">
                <div class="label">
                    <label for="inputEmail">Email</label>
                </div>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            </div>
            <div class="form-element">
                <div class="label">
                    <label for="inputPassword">Mot de passe</label>
                </div>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            </div>
            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}

            <button class="btn btn-submit" type="submit">
                Se connecter
            </button>
            
            <div class="btn btn-twitch">
                <a href="{{ path('twitch_connect') }}">
                    {# <div> #}
                        <svg class="icon twitch-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M391.17,103.47H352.54v109.7h38.63ZM285,103H246.37V212.75H285ZM120.83,0,24.31,91.42V420.58H140.14V512l96.53-91.42h77.25L487.69,256V0ZM449.07,237.75l-77.22,73.12H294.61l-67.6,64v-64H140.14V36.58H449.07Z"/></svg>
                    {# </div> #}
                    Se connecter avec Twitch
                 </a>
            </div>
            <p>Pas encore inscrit? <a href="{{path('user_new')}}">Créer un compte</a></p>
            <p><a href="{{path('home')}}">Aller à l'accueil</a></p>
        </form>
    </div>
</div>

{% block footer %}{% endblock %}
{% endblock %}
