{% extends 'back/base_back.html.twig' %}
{% block active_users %}{% endblock %}
{% block active_drivers %}active{% endblock %}


{% block body %}
    <h1>Driver</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ driver.id }}</td>
            </tr>
            <tr>
                <th>Fullname</th>
                <td>{{ driver.fullname }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ driver.number }}</td>
            </tr>
            <tr>
                <th>Driver_id</th>
                <td>{{ driver.driverId }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ driver.code }}</td>
            </tr>
            <tr>
                <th>IsActive</th>
                <td>{{ driver.isActive ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('back_driver_index') }}">back to list</a>

    <a href="{{ path('back_driver_edit', {'id': driver.id}) }}">edit</a>

    {{ include('back/driver/_delete_form.html.twig') }}
{% endblock %}
