{% extends 'back/base_back.html.twig' %}
{% block active_users %}{% endblock %}
{% block active_utility %}active{% endblock %}

{% block body %}

<div class="body-container">
    {% if lastEvent is empty %}
    <div class="event event-last">
        <h3>RAS</h3>
        <p>RAS</p>
    </div>
    {% else %}
    {# <div class="event event-last">
        <h3>{{ lastEvent[0].name }}</h3>
        <p>{{ lastEvent[0].date|date('d/m/Y') }} à {{ lastEvent[0].date|date('H:i') }} UTC</p>
        <button class="btn btn-submit">Voir les résultats</button>
    </div> #}
    
    <div class="card event event-last">
                    <div class="card-title">
                        <h3>Dernière course</h3>
                    </div>
                    <div class="card-content">
                        <div class="info-container">
                            <div class="card-header">
                                <div class="flag">
                                    <span class="fi fi-{{ lastEvent[0].countryCode }}"></span>
                                </div>
                                <div class="title">
                                    <h3>{{ lastEvent[0].country }}</h3>
                                </div> 
                            </div>
                            <h3>{{ lastEvent[0].name }}</h3>
                            <p>Manche n° {{ lastEvent[0].round }}</p>
                            <p>{{ lastEvent[0].date|date('d/m/Y') }} à {{ lastEvent[0].date|date('H:i') }} UTC</p>
                        </div>
{% if lastEvent[0].result is not null %}

                        <div class="quali-container">
                            <h4>Qualifications</h4>
                            <p>Pole : </p>
                            <p>{{ lastEvent[0].result.pole.fullname }}</p>
                            <p>chrono : </p>
                            <p>{{ lastEvent[0].result.time }}</p>
                        </div>

{% endif %}
                        <div class="race-container">
                            <h4>race results</h4>
                            <div class="top3">
                                <p>1. Win</p>
                                <p>2. Second</p>
                                <p>3. Third</p>
                            </div>
                        </div>
                    </div>
                    {# <div class="button-container">
                        <button class="btn btn-submit">Voir les résultats</button>
                    </div> #}
                </div>
    {% endif %}
    {% if lastResult %}
        <div class="card event event-last">
            <div class="card-title">
                <h3>Dernier résultat en base de données :</h3>
            </div>
            <h3>{{ lastResult.event.name }}</h3>
            <p>{{ lastResult.time}}</p>
        </div>
    {% endif %}
    {% if toUpdate == true %}
        <a href="{{ path('back_utility_get_result') }}"><button class="btn btn-submit">Récupérer le dernier résultat</button></a>
    {% else %}
        <button class="btn btn-disabled">Résultats à jour</button>
    {% endif %}
    {% if toCalculate == true %}
        <a href="{{ path('back_utility_calculate_scores') }} "><button class="btn btn-submit">Calculer les scores</button></a>
    {% else %}
         <button class="btn btn-disabled">Scores à jour</button>   
    {% endif %}
    {% if toCalculateRanking == true %}
    <a href="{{ path('back_utility_calculate_rankings') }} "><button class="btn btn-submit">Calculer le classement général</button></a>
    {% else %}
        <button class="btn btn-disabled">Classement à jour</button> 
    {% endif %}
</div>
{% endblock %}
