{% extends 'base.html.twig' %}

{% block title %}Formulix - Placer une pronostic{% endblock %}
{% block header %}
	<header class="header">
	<div class="header-container">
		<div class="header-main">
			<h1 class="main-title">Pronostics</h1>
			<p>Placer un pronostic sur : <span class="bold">{{ event.name }}</span></p>
			<p>Pour les temps de qualifications, merci de respecter le format donné en exemple (2 nombres obligatoires pour les minutes, 3 pour les millièmes).</p>
		</div>
	</div>
	</header>
{% endblock %}
{% block body %}
<div class="body-container">
	<div class="card event event-container">
		<div class="card event event-next">
			<div class="info-container">
				<div class="card-header">
					<div class="flag">
						<span class="fi fi-{{ event.countryCode }}"></span>
					</div>
					<div class="title">
						<h3>{{ event.country }}</h3>
						<h3>{{ event.name }}</h3>
					</div>
				</div>
				<p>Manche n° {{ event.round }} - {{ event.locality }}</p>
				<p><span class="bold">Qualifications : </span>
					{{ event.qualifyingDate|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY") }}
					à 
					{{ event.qualifyingDate|format_datetime(locale='fr', pattern='HH:mm', timezone='Europe/Paris') }} (FR)
					({{ event.qualifyingDate|format_datetime(locale='fr', pattern='HH:mm', timezone='UTC') }} UTC)
				</p>
				<p><span class="bold">Course: </span>
					{{ event.date|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY") }}
					à
					{{ event.date|format_datetime(locale='fr', pattern='HH:mm', timezone='Europe/Paris') }} (FR)
					({{ event.date|format_datetime(locale='fr', pattern='HH:mm', timezone='UTC') }} UTC)
					</p>
			</div>
			
		</div>
		<div class="prediction-form">
			{% include "/prediction/_form_add.html.twig" %}
		</div>
	</div>
</div>
{% endblock %}
